{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center text-success">Account Activated!</h2>
                <p class="text-center">
                    Your account has been successfully activated. You can now log in.
                </p>
                <div class="text-center mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary">Login Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
